<h1>Đó là export Excel nhá (Viết lại Áp dụng code nghiền)</h1>


<button (click) = "exportExcel()" style = " background-color: red; color: white; font-size: large; padding: 10px;">Export Excel</button>
<br>
<br>
<table border="1">
    <tr>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Tuổi</th>
    </tr>
    <tr *ngFor="let item of dataAll">
        <td>{{item.name}}</td>
        <td>{{item.birthday}}</td>
        <td>{{item.age}}</td>
    </tr>
    <tr>
        <td colspan="2">Tổng tuổi</td>
        <td>{{tongtuoi}}</td>
    </tr>

</table>